<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="utf 8">
    <title>Guru99</title>
    <base href="/">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
    <script>  
        angular.module("appold", []).controller("HelloWorldCtrl", ["$scope", function($scope) {  
            $scope.message="Hello World" 
        }]);
    </script> 
    
    <script src="./app/runtime-es2015.js" type="module"></script>
    <script src="./app/runtime-es5.js" nomodule defer></script>
    <script src="./app/polyfills-es5.js" nomodule defer></script>
    <script src="./app/polyfills-es2015.js" type="module"></script>
    <script src="./app/styles-es2015.js" type="module"></script>
    <script src="./app/styles-es5.js" nomodule defer></script>
    <script src="./app/vendor-es2015.js" type="module"></script>
    <script src="./app/vendor-es5.js" nomodule defer></script>
    <script src="./app/main-es2015.js" type="module"></script>
    <script src="./app/main-es5.js" nomodule defer></script>
</head>  
<body>
    Old angular
    <hero-detail></hero-detail>
    <my-customer></my-customer>
    <h1 ng-controller="HelloWorldCtrl">
        {{message}}
    </h1>
    <app-root></app-root>
</body>  
</html>